body{
font-family: monospace;
font-size: 15px;
}

.carousel-item {
 height:100%;
display:block;
object-fit: cover;
}

p{
    display: block;
    padding-top: 4.5rem;
}

navbar{
    padding-top: 100px;
}

